/* ==========================================================================
// Logo component
// ========================================================================== */

/*doc
---
title: Logo
name: logo
category: atoms
---

*/

/* Base
// ---------------------------------------------------------------------------*/

.logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
